default:
    suites:
        default:
            contexts:
                - Behat\MinkExtension\Context\MinkContext
                - Behatch\Context\BrowserContext:
                    timeout: 3
                - Behatch\Context\DebugContext:
                    screenshotDir: 'var/behat'
                - Behatch\Context\XmlContext
                - Behatch\Context\TableContext
                - Tests\Behat\Context\FixtureContext
                - Tests\Behat\Context\RestContext
                - Tests\Behat\Context\JsonContext
                - Tests\Behat\Context\RabbitMqContext
                - Tests\Behat\Context\SyncWithAPIContext
                - Tests\Behat\Context\EmailContext
                - Tests\Behat\Context\ReferentTagContext
                - Tests\Behat\Context\SecurityContext
                - Tests\Behat\Context\FeatureContext
                - Tests\Behat\Context\DonationContext
                - Tests\Behat\Context\NotificationContext
    extensions:
        Behatch\Extension: ~
        FriendsOfBehat\SymfonyExtension: ~
        Behat\MinkExtension:
            base_url: "http://test.enmarche.code"
            sessions:
                default:
                    symfony: ~
                javascript:
                    selenium2:
                        capabilities:
                            version: ''
                        wd_host: http://selenium:4444/wd/hub
        Bex\Behat\SkipTestsExtension: ~
